<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="about-content text-center">
                <h2>想旅遊找<span>旅NEXT</span><p style="font-size:1.75rem; color:black;font-weight: 800">讓你旅遊超Relax</p></h2>
                
                <p>DISCOVER YOUR TRIP WITH 旅NEXT</p>
            </div>
        </div>
    </div>
</div>