.slidecol {
    background-color: rgb(67, 25, 161, 0.85); /* 背景顏色 */
    height: 825px; /* 高度 */
    display: flex; /* 使用 flex 佈局 */
    flex-wrap: wrap; /* 內容超出時換行顯示 */
}

.rightcol {
    background-color: #fff; /* 背景顏色 */
}

.slidecol .nav-tabs .nav-link {
    border: none; /* 移除邊框 */
    border-top-left-radius: 0; /* 左上圓角 */
    border-top-right-radius: 0; /* 右上圓角 */
    font-size: 28px; /* 字體大小 */
    font-weight: 700; /* 字體粗細 */
    color: #fff; /* 文字顏色 */
    background-color: rgba(144, 103, 238, 0.65); /* 背景顏色 */
    text-transform: uppercase; /* 轉換為大寫 */
    width: 275px; /* 寬度 */
    height: 44px; /* 高度 */
    line-height: 44px; /* 行高 */
    padding: 0; /* 內邊距 */
    display: flex; /* 使用 flex 佈局 */
    justify-content: center; /* 主軸上居中對齊 */
}

    .slidecol .nav-tabs .nav-link.active {
        color: #fff; /* 文字顏色 */
        background-color: rgba(67, 25, 161, 0.65); /* 背景顏色 */
        border-color: transparent; /* 邊框顏色透明 */
    }

@@media (max-width: 768px) {
    .slidecol {
        height: 100%; /* 高度 */
        width: 80%; /* 寬度 */
    }

        .slidecol .nav-tabs .nav-link,
        .slidecol .nav-tabs .nav-link.active {
            width: 450px; /* 寬度 */
        }
}

#additionalText {
    color: white; /* 文字顏色 */
}

.btn1,
.btn1:focus {
    margin: 0.5px; /* 邊距 */
    position: relative; /* 相對定位 */
    min-width: 10px; /* 最小寬度 */
    background-color: transparent; /* 背景顏色 */
    color: black; /* 文字顏色 */
    font-size: 15px;
    font-family: "Microsoft JhengHei", sans-serif; /* 字體 */
    text-align: center; /* 文字居中對齊 */
    text-transform: uppercase; /* 轉換為大寫 */
    text-decoration: none; /* 移除下劃線 */
    box-sizing: inherit; /* 盒子大小繼承 */
    padding: 2px 10px; /* 內邊距 */
    text-shadow: none; /* 文字陰影 */
    box-shadow: none; /* 陰影 */
    font-weight: 600;
    outline: 1px solid black !important; /* 輪廓 */
    transition-duration: 500ms;
    border-radius: 0px;
}

    .btn1:hover {
        border: 0.1px solid; /* 邊框 */
        outline: 5px solid !important; /* 輪廓 */
        outline-color: rgba(225, 51, 45, 0) !important; /* 輪廓顏色 */
        outline-offset: 15px; /* 輪廓偏移量 */
        box-shadow: 0 0 5px rgba(0,0,0,0.3); /* 陰影 */
    }

#map {
    position: relative; /* 相對定位 */
    padding: 0px; /* 內邊距 */
    margin: 0px; /* 外邊距 */
    height: 100%; /* 高度 */
    width: 100%; /* 寬度 */
    overflow: hidden; /* 溢出隱藏 */
}

#tags-container {
    display: inline-block; /* 行內元素 */
}

.tag {
    display: inline-block; /* 行內元素 */
    background-color: #BB99FF; /* 背景顏色 */
    margin: 2px; /* 邊距 */
    padding: 2px 6px; /* 內邊距 */
    border: none; /* 移除邊框 */
    font-family: "Microsoft JhengHei", sans-serif; /* 字體設置為微軟正黑體 */
    font-size: 1rem; /* 字體大小 */
    color: #fff; /* 文字顏色 */
    font-weight: 600;
    cursor: pointer; /* 光標 */
    /*border-radius: 5px; /* 圓角 */
    border: 2px solid #8C52FF;
    transition: background-color 0.3s ease; /* 過渡效果 */
}

.delete-button {
    background-color: #5E17EB; /* 背景顏色 */
    color: white; /* 文字顏色 */
    border: 0.7px solid #8C52FF; /* 邊框 */
    padding-bottom: 15px; /* 內邊距 */
    border-radius: 50%; /* 圓角 */
    cursor: pointer; /* 光標 */
    /*margin-top: -10px; /* 邊距 */
    margin-bottom: 3px; /* 邊距 */
    width: 15px; /* 寬度 */
    height: 15px; /* 高度 */
    font-size: 10px; /* 字體大小 */
    position: relative; /* 相對定位 */
    top: -2px; /* 定位 */
    margin-left: 5px; /* 邊距 */
    font-size: 12px; /* 字體大小 */
    font-weight: bold; /* 字體粗細 */
    color: white; /* 文字顏色 */
    text-align: center; /* 文字居中對齊 */
    line-height: 1.25; /* 行高 */
    padding-left: 0.3px; /* 內邊距 */
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black; /* 文字陰影 */
}

.search-container {
    width: 100%; /* 寬度 */
    margin: 5px auto; /* 外邊距 */
    background-color: white; /* 背景顏色 */
}

    .search-container p {
        padding: 8px; /* 內邊距 */
        margin: 5px; /* 外邊距 */
        color: #330099; /* 文字顏色 */
        font-family: "Microsoft JhengHei", sans-serif; /* 字體設置為微軟正黑體 */
        font-size: 1rem; /* 字體大小 */
        background-color: #EEE5FF; /* 背景顏色 */
        box-sizing: border-box; /* 盒模型設置為邊框盒 */
        border: 1px solid #330099; /* 邊框 */
        /*border-radius: 4px; /* 圓角 */
    }

.place-photo {
    width: 180px; /* 設置圖片的寬度 */
    height: 130px; /* 設置圖片的高度 */
}

.place-container {
    display: flex; /* 使用 flexbox 佈局 */
    flex-direction: column; /* 垂直排列 */
    align-items: center; /* 在主軸上居中對齊 */
    text-align: center; /* 文字水平居中 */
}

#collapseOne {
    overflow-y: auto; /* 垂直方向溢出時顯示滾動條 */
    max-height: 300px; /* 最大高度 */
}

.features-slides {
    display: flex; /* 使用 flexbox 佈局 */
    flex-wrap: wrap; /* 元素超出時換行顯示 */
}

.visually-hidden {
    position: absolute; /* 絕對定位 */
    width: 3px; /* 寬度 */
    height: 3px; /* 高度 */
    padding: 0; /* 內邊距 */
    margin: -1px; /* 外邊距 */
    overflow: hidden; /* 溢出隱藏 */
    clip: rect(0, 0, 0, 0); /* 裁剪 */
    border: 0; /* 邊框 */
}

.visually {
    background-color: white; /* 背景色白色 */
    border-radius: 5px; /* 圓角邊框 */
}

.primary {
    position: relative; /* 相對定位 */
    min-width: 200px; /* 最小寬度 */
    background: #FFFFFF; /* 背景色 */
    border: 2px solid #111111; /* 邊框 */
    overflow: hidden; /* 溢出隱藏 */
}

    .primary div,
    .primary:before {
        font-size: 1em; /* 字體大小 */
        font-weight: bold; /* 字體粗細 */
        text-transform: uppercase; /* 轉換為大寫 */
        transition: all .3s ease-in-out; /* 過渡效果 */
        padding: 10px 20px; /* 內邊距 */
    }

    .primary:before {
        content: attr(data-hover); /* 設置擴展屬性 */
        position: absolute; /* 絕對定位 */
        top: 0; /* 上偏移量 */
        left: 0; /* 左偏移量 */
        width: 100%; /* 寬度 */
        opacity: 0; /* 不透明度 */
        transform: translate(-100%, 0); /* 平移效果 */
    }

    .primary:hover div {
        opacity: 0; /* 不透明度 */
        transform: translate(100%, 0); /* 平移效果 */
    }

    .primary:hover:before {
        opacity: 1; /* 不透明度 */
        transform: translate(0, 0); /* 平移效果 */
    }

.modal-dialog {
    margin-top: 120px; /* 上邊距 */
    max-width: 500px; /* 最大寬度 */
    max-height: 50vh; /* 最大高度 */
    overflow-y: auto; /* 垂直方向溢出時顯示滾動條 */
}

.modal-footer {
    justify-content: flex-end; /* 對齊方式 */
}

.search-container {
    max-height: 200px; /* 最大高度 */
    overflow-y: auto; /* 垂直方向溢出時顯示滾動條 */
}

.btn-link {
    color: #5E17EB;
}

    .btn-link:hover {
        color: #330099;
    }
